@charset "utf-8";
/* CSS Document */

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 48px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #C00;
	padding:20px;
}

h2{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight:bold;
	font-variant: normal;
	color: #006600;
	padding:15px;
}

h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight:bolder;
	font-variant: normal;
	color: #3C3;
	padding:10px;
}


h4{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight:bolder;
	font-variant: normal;
	color: #690;
}



h5{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight:bolder;
	font-variant: normal;
	color: #333;
}



h6{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight:bold;
	font-variant: normal;
	color: #333;
}